<?php

/** @var \Mjr\CouponSuggestions\Block\CouponSuggestions $block  */

//skip logic if not enabled
if (!$block->checkIfEnabled() || $block->hideButton()) {
    return;
}

$coupons = $block->getListOfDiscounts();

?>
<div class="cart main actions" id="view_coupons">
    <button type="submit"
            name="update_cart_action"
            data-cart-item-update=""
            value="update_qty"
            title="<?= $block->escapeHtmlAttr(__('View Coupons')) ?>"
            class="action update"
            id="view_coupons_button">
        <span><?= $block->escapeHtml(__('View Coupons')) ?></span>
    </button>
</div>

<div id="coupon-popup-modal" style="display:none;">
    <?php if (!empty($coupons['qualified'])): ?>
        <h3>Coupons you qualify for:</h3>
        <ul>
            <?php foreach($coupons['qualified'] as $id => $coupon): ?>
                <li>
                    <div>
                        <p><b><?= $block->escapeHtml($coupon['name']); ?></b></p>
                    </div>
                    <div>
                        <p><?= $block->escapeHtml($coupon['description']); ?></p>
                    </div>
                    <?php if ($coupon['coupon']): ?>
                        <div class="coupon coupon-active" data-coupon="<?= $block->escapeHtml($coupon['coupon']); ?>" >
                            <?= $block->escapeHtml($coupon['coupon']); ?>
                        </div>
                    <?php endif; ?>
                </li>
            <?php endforeach; ?>
        </ul>
    <?php endif; ?>
    <?php if (!empty($coupons['nonqualified'])): ?>
        <h3>Other Coupons:</h3>
        <ul>
            <?php foreach($coupons['nonqualified'] as $id => $coupon): ?>
                <li>
                    <div>
                        <p><b><?= $block->escapeHtml($coupon['name']); ?></b></p>
                    </div>
                    <div>
                        <p><?= $block->escapeHtml($coupon['description']); ?></p>
                    </div>
                    <?php if ($coupon['coupon']): ?>
                        <div class="coupon" data-coupon="<?= $block->escapeHtml($id); ?>" >
                            <?= $block->escapeHtml($coupon['coupon']); ?>
                        </div>
                    <?php endif; ?>
                </li>
            <?php endforeach; ?>
        </ul>
    <?php endif; ?>
    <div>
        <?= $block->escapeHtml($block->getDisclaimerText()); ?>
    </div>
</div>