#view_coupons {
    width: 75%;
    float: left;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    border: 0;
    box-sizing: border-box;
    padding-right: 4%;
}

#view_coupons_button {
    float: right;
    margin-top: -10px;
}

#coupon-popup-modal ul {
    overflow: auto;
    padding: 0;;
}

#coupon-popup-modal li {
    width: 200px;
    list-style: none;
    text-align: center;
    float: left;
    border: 1px solid #d0d0d0;
    padding: 10px;
    margin: 10px;
}

#coupon-popup-modal li .coupon {
    border-radius: 7px;
    width: 100%;
    border: 1px dashed darkgray;
    padding: 5px 0;
}

#coupon-popup-modal li  .coupon-active {
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    #view_coupons {
        width: 100%;
        padding-right: 0;
        text-align: center;
        margin-bottom: 20px;
    }

    #view_coupons_button {
        margin-top: 5px;
        float: none;
    }
}